
@model IEnumerable<Mercado_do_zé.Models.Cliente>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h2>Clientes</h2></center>

@if (@Model.Any())
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>...</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in Model)
            {
                <tr>
                    <td><a href ="/Clientes/Detalhes/@cliente.Id">@cliente.Nome</a></td>
                    <td><a class="btn" href="/Clientes/Editar/@cliente.Id">Editar</a></td>
                </tr>
            }
        </tbody>
        <td><a class="btn" href="/Clientes/Editar/0">Cadastrar</a></td>
    </table>
}
else
{
    <p>Não temos nenhum cliente cadastrado</p>
}